{{#partial "content"}}

    <h1 class="mt-5 text-center">The Squad List</h1>

    {{#if squads}}
        {{#each squads}}
            <div class="container mt-5 w-50 list">
                <ul>
                    <p>Squad name: {{name}} <a href="/squads/{{id}}">View Squad...</a></p>
                    <li>Max Size: {{maxSize}}</li>
                    <li>Cause: {{cause}}</li>
                </ul>
            </div>
        {{/each}}

    {{else}}
        <p class="mt-5 text-center">No Squads yet!</p>
    {{/if}}
{{/partial}}
{{>layout.hbs}}